<div class="col-11 m-auto">
  <div class="col-12 flex gap-2">
    <div class="left-dashboard col-3">
      <!-- First-container -->
      <div class="shadow-2 border-round-lg p-3 bg-white">
        <div class="flex justify-content-between">
          <div>
            Orders
          </div>
          <div>
            <i class="pi pi-shopping-cart"></i>
          </div>
        </div>
        <div class="my-3">
          <span class="text-xl font-medium">26</span>
        </div>
        <div class="mb-3">
          <span class="text-lg font-medium text-red-500">23 </span> <span>Today Orders</span>
        </div>
      </div>
      <!-- Second-container -->
      <div class="shadow-2 border-round-lg p-3 bg-white mt-3">
        <div class="flex justify-content-between">
          <div>
            Orders
          </div>
          <div>
            <i class="pi pi-shopping-cart"></i>
          </div>
        </div>
        <div class="my-3">
          <span class="text-xl font-medium">26</span>
        </div>
        <div class="mb-3">
          <span class="text-lg font-medium text-red-500">23 </span> <span>Today Orders</span>
        </div>
      </div>

      <!-- Third-container -->
      <div class="shadow-2 border-round-lg p-3 bg-white mt-3">
        <div class="flex justify-content-between">
          <div>
            Orders
          </div>
          <div>
            <i class="pi pi-shopping-cart"></i>
          </div>
        </div>
        <div class="my-3">
          <span class="text-xl font-medium">26</span>
        </div>
        <div class="mb-3">
          <span class="text-lg font-medium text-red-500">23 </span> <span>Today Orders</span>
        </div>
      </div>

    </div>
    <div class="right-dashboard col-9 shadow-2 bg-white border-round-lg">
      <app-total-orders></app-total-orders>
    </div>
  </div>

</div>