:host::ng-deep {
    .p-dialog .p-dialog-header {
        border-bottom: 0 none;
        background: #ffffff;
        color: #343a40;
        padding: 0.5rem 1rem !important;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }

    .p-dialog .p-dialog-content {
        background: #ffffff;
        color: #495057;
        padding: 0 0.5rem 0.5rem 0.5rem;
    }
}