:host::ng-deep {
    .p-calendar {
        width: 100% !important;
        padding: 1px !important;
        height: 34px !important;

    }

    .p-inputtext {
        color: #000000;
        border: 1px solid #000000;
    }

    .p-inputtext:enabled:hover {
        border-color: #000000;
    }

    .p-inputtext:enabled:focus {
        box-shadow: 0 0 0 0.2rem #ffffff;
        border-color: #080808;
    }

    .p-datepicker-touch-ui,
    .p-calendar .p-datepicker-touch-ui {
        min-width: 55vw;
    }

    .p-dialog .p-dialog-content {
        background: #ffffff;
        color: #495057;
        padding: 0 1rem 1rem 1rem;
    }
}